<main>
    <h1 class="text-primary">Редагування товару</h1>
    <form class="row" method="post" action="/product-edit">
        <h3>Інформація про товар</h3>
        {{#with product}}
        <div class="mb-3 col-4">
            <label class="form-label">Назва товару</label>
            <input type="text" name="name" class="form-control" value="{{name}}">
        </div>
        <div class="mb-3 col-4">
            <label class="form-label">Ціна</label>
            <input type="number" name="price" class="form-control" value="{{price}}">
        </div>
        <div class="mb-3 col-4">
            <label class="form-label">ID</label>
            <input type="number" name="id" class="form-control" value="{{id}}">
        </div>
        <div class="mb-5">
            <label class="form-label">Короткий опис товару</label>
            <textarea name="description" class="input-text__area" rows="3">{{description}}</textarea>
            <div class="form-text">Відображується у картці товару</div>
        </div>

        <div class="col-6">
            <button type="submit" class="btn btn-primary">Зберегти оновлення</button>
        </div>

        <div class="col-6">
            <a href="/product-delete?id={{id}}" class="btn btn-danger">Видалити товар</a>
        </div>
        {{/with}}
    </form>

</main>